body, html{
  height:100%;
}
body{
  margin: 0px;
  background: url("https://i.redd.it/f0ho9czpyt541.jpg");
  font-size: 18px;
  font-family: 'Franklin Gothic Medium';
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  animation:dance;
}

@keyframes jump {
  0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
  40%  {transform: translate3d(0,30%,0) scale3d(.7,1.5,1);}
  100% {transform: translate3d(0,100%,0) scale3d(1.5,.7,1);}
}
.jump {
  transform-origin: 50% 50%;
  animation: jump .5s linear alternate infinite;
}

/* For demo: */
body {text-align: center;}
body * {margin: 2em 2em 0; text-align: center; vertical-align: middle; font-family: sans-serif, sans; font-weight: bold;}

.fly {
  width:100px;
  height:100px;
  margin-top:180px;
  transform-origin:200% center;
  position:relative;
  animation:rotate 3s linear infinite;
}

.fly:before {
  content:'';
  position:absolute;
  height:100%;
  width:100%;
  animation:rotate 3s linear reverse infinite;
}

@keyframes rotate { 100% { transform:rotate(360deg); } }