body, html{
  height:100%;
}
body{
  margin: 0px;
  background: url("https://i.redd.it/f0ho9czpyt541.jpg");
  font-size: 18px;
  font-family: 'Franklin Gothic Medium';
  height:100%;
  overflow: hidden;
}
body.newbg {
  background-image:url("https://i.redd.it/8lbu90vo1ut21.jpg");
  margin: 0px;
  overflow: hidden;
  background-size: cover;
}

body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:auto;
  float:center;
}
.topbar{
  height:5%;
  background-color: black;
}
/* .topbar img {
  width:80px;
  height: auto;
} */
.title{
  height:5%;
  background-color: black;
}
.dancer{
  border-radius:10px;
  position:absolute;
  animation:dance;
}

@keyframes jump {
  0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
  40%  {transform: translate3d(0,30%,0) scale3d(.7,1.5,1);}
  100% {transform: translate3d(0,100%,0) scale3d(1.5,.7,1);}
}
.jump {
  transform-origin: 50% 50%;
  animation: jump .5s linear alternate infinite;
}

/* For demo: */
body {text-align: center;}
body * {margin: 2em 2em 0; text-align: center; vertical-align: middle; font-family: sans-serif, sans; font-weight: bold;}

.fly {
  width:100px;
  height:100px;
  margin-top:180px;
  transform-origin:200% center;
  position:relative;
  animation:rotate 3s linear infinite;
}

.fly:before {
  content:'';
  position:absolute;
  height:100%;
  width:100%;
  animation:rotate 3s linear reverse infinite;
}
.zoomtest{
  width: 40px;
  opacity: 0.2;
}
@keyframes rotate { 100% { transform:rotate(360deg); } }

.zoom{
  height:30%;
  width:30%;
  background-position:center;
  background-size:cover;
}
.zoom{
   -webkit-animation: zoomeffect 10s infinite;
   -moz-animation: zoomeffect 10s infinite;
   animation: zoomeffect 10s infinite;
}
@-webkit-keyframes zoomeffect{
		0%{
			background-position:center;
		  transform:scale(1,1);
		}
		50%{
			background-position:center;
		  transform:scale(2,2);
		}
		100%{
			background-position:center;
		  transform:scale(1,1);
		}
}
@keyframes zoomeffect{
		0%{
			background-position:center;
		  transform:scale(1,1);
		}
		50%{
			background-position:center;
		  transform:scale(2,2);
		}
		100%{
			background-position:center;
		  transform:scale(1,1);
		}
}
